body{
    margin: 0;
    padding: 0;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);


  }
  
  .navbar-brand {
    color: lightgray;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.2s;
  }
  
  .navbar-brand:hover {
    color: white;
  }
  
  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-item {
    margin-left: 1rem;
  }
  
  .nav-link {
    color: lightgray;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .nav-link:hover {
    color: white;
  }
  
  

  /* Style pour les titres de sommaire */
  h1 {

    font-weight: bold;
    text-decoration: None;
  }

  /* Style pour les liens du sommaire */
  ul a {
    color: blue;
    text-decoration: none;
  }

  /* Style pour les liens actifs du sommaire */
  ul a:active,
  ul a:focus,
  ul a:hover {
    color: red;
    text-decoration: underline;
  }

li{
    font-size: 1.4em;
    margin-top: 40px;
}

  table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 5px;
  }

.reponse{
    font-size: large;
}

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .card, .card2 {
    cursor: pointer;
    perspective: 150rem;
    position: relative;
    height: 60rem;
    max-width: 600px;
    flex-grow: 1;
    margin: 1rem;
    box-shadow: none;
    background: none;
  }
  
  .card-side, .card-side2 {
    height: 55rem;
    overflow: auto;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 2rem;
    color: white;
  }
  
  .card-side.back, .card-side.back2 {
    transform: rotateY(-180deg);
    background: pink; 
  }
  
  .card-side.front, .card-side.front2 {
    background: lightblue;
  }



  .card2 {
    perspective: 150rem;
    position: relative;
    height: 60rem;
    max-width: 600px;
    flex-grow: 1;
    margin: 1rem;
    box-shadow: none;
    background: none;
  }
  
  .card-side2 {
    height: 55rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 2rem;
    color: white;
  }
  
  .card-side.back2 {
    transform: rotateY(-180deg);
    background: lightcoral;
  }
  
  .card-side.front2 {
    background: lightgreen; 
  }

  